/* main.scss */
@import "colors";
@import "bootstrap-custom";
@import "bootstrap/theme";
@import "bootstrap-em";



// //jk custom scss

//some useful mixins:

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




// //basic stuff
body{
	font-family: "lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	overflow-y: scroll;
	height:100%;
}
p{
	color:$gray-dark;
}
a{
	color:$highlight-turq;
	transition:all .3s ease-out;
	
}
a:hover{
		color:$highlight-green;
	};

hr{
	margin-top: 12px;
	margin-bottom:12px;
}

.text-center {
  @include center-block;
}
.centered{
	text-align:middle;
}

//layout stuff
.content-area{
	// margin:20% 0;
	// border-top:1px solid $highlight-turq;
	background:rgba(255, 255, 255, 0.9);
	// margin-bottom:4%;
	padding:7rem 0;
	// border-bottom: 1px solid $highlight-turq;
}

//visual and other layout stuff
.main-start{
	background:rgba(255, 255, 255, 0.9);
	// border-top: 1px solid $highlight-turq;
	padding: 2% 0 4%;
	// margin-bottom: 4%;
	// border-bottom: 1px solid $highlight-turq;
}
.sep-bar{
	margin:0 10px;
	color:$gray-med-med;
}

.centered{
	text-align:center;
}


//nav
.nav.nav-center {
    margin:0;
    float:none;
}
.navbar-inner{
    text-align:center;
}

.navbar-collapse{
	background: $black-op85;
}
.navbar{
	background: $black-op85;
}

// $navbar-default-color: $highlight-turq;

.navbar-toggle .icon-bar{
	background: $highlight-turq;
}

// .navbar-brand{
// 	position: absolute;
//     width: 100%;
//     left: 0;
//     text-align: center;
//     margin: auto;
// }

.nav-item a:hover{
	color:$highlight-green;
}

.nav-item a:focus{
	color:$highlight-turq;
}

.nav-item.active a {
	color:#fff;
	background: $black;
}

//headings
h3, h4, h5, h6{
	color:$gray-dark;
}
.fancy {
  font-family: "lust-script";
}

.elegant{
	font-family: "lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:100;
}

h4.elegant{
	color:#fff;
	font-size:2.7rem;
}


// .navbar .fancy{
// 	position:relative;
// 	top:12px;
//     padding: 14px 15px;
//     font-size: 20px;
//     line-height: 22px;
//     height: 50px;
// }

h1.fancy{
	font-size:1rem;
}

h4.fancy, h3.fancy{
// border-bottom:1px solid $purp-op30;
}  

.hero h2{
	text-align:center;
	margin:2% auto;
	font-size:5rem;
	color:$gray-light;
}

h3{
	margin: 2% auto;
 	text-align: center;
 	font-size: 40px;
}

h4{
	margin: 2% auto;
 	text-align: center;
 	font-size: 40px;
}

.item h5{
	text-align:center;
	font-weight:500;
	margin-top:1rem;
	color: $gray-dark-purp;
}

//custom text styles
// .thintext{
// 	font-weight:200;
// }
.small{
	font-size:80%;
}
.caps{
	text-transform:uppercase;
}


.top-bar{
	// background: rgba(44, 43, 50, 0.9);
	height:2.85rem;
}

.top-bar-section li:not(.has-form) a:not(.button){
	background:none;
}
.top-bar-section li:not(.has-form) a:not(.button):hover{
	color:$highlight-green;
}
.top-bar-section ul li{
	background:none;
}
.top-bar-section ul li:hover{
	// height:44px;
}
#navbar ul li a.soc-link{
	// line-height: 2.8rem !important;
	// padding:0 !important;
	margin:0 !important;
	// font-size:24px;
	font-size:1rem;
}
// .top-bar {
//   background: $black-op85;
// }

//bg
.main-bg{
	background: url('../img/bg/bg-hero.jpg');
	background-size:cover;
}

//hero stuff
.hero-intro{
	// margin:4% 0;
}
.hero{
	padding:6% 12%;
	background: rgba(247, 250, 253, 0.2);
	margin:4%;
	margin-top:96px;
	color: #efefef;
	p{
		font-weight:200;
		color: #efefef;
	}
}

.hero-prompt{
	margin-bottom:6%;
}


//masonry & layout
.masonry{
	margin:10px auto;
}
.masonry .item {
	width:240px;
 	min-height:194px;
 	margin: 20px;
 	background: #fff;
 	border: 1px solid #efefef;
 	padding:10px;
}

.item{
	transition:all .2s ease-out;
	.thumb{
		width:220px;
		height:150px;
		display:block;
		background-size: 220%;
		background-repeat: no-repeat;
		background-position: 10% 0%;
		transition:all .3s ease-out;
		border:1px solid $gray-light;
		border-radius:4px;

	}
}
.item:hover{
	transform: scale(1.2);
	border-color:$highlight-green;
	cursor:pointer;
	.thumb{
		background-size: 140%;
		cursor:pointer;
		// background-position: 26% 10%;
	}
}

.modal-cta{
	cursor:pointer;
	:hover{
		cursor:pointer;
	}
}

.slick-slide
	img{
		width:100%;

}

//folio thumb adjustments
.folio-intuit .thumb{
	background-position: 22% 5%;
}
.folio-intuit .item:hover{
	.thumb{
	background-position: 60% 12%;
  	background-size: 120%;
}
} 

.folio-ybubbles .thumb{
	background-position:50% 0%;
}

.folio-telenav .thumb{
	background-position:0% 0%;
	background-size: 210%;
}

.folio-saratoga-speed .thumb{
	background-position:50% 0%;
	background-size: 160%;
}
.folio-huddleup .thumb{
	background-position:17% 0%;
	// background-size: 160%;
}

.folio-huddleup .item:hover .thumb{
	background-position:32% 0%;
	// background-size: 160%;
}






//CTAs
// a.btn{
// 	color:$highlight-turq;
// }
// .main-start a.btn.ghost{
	
// }
button.btn.ghost, a.btn.ghost{
	color:$highlight-turq;
	width:100%;
	background:$light-blue-op20;
	border:1px solid $gray-mellow-purp;
	padding:20px;
	margin:10px 0px;
	display:inline-block;
	text-align:center;
	text-transform:uppercase;
	// font-weight:200;
	font-size:1.4rem;
	font-weight:200;
	
}
button.btn.ghost:hover, a.btn.ghost:hover{
	transform: scale(1.1);
	color:$highlight-green;
	background: $black-op90;
    -webkit-animation: 
		grow .3s cubic-bezier(0.855, 0.120, 0.340, 0.850) 1,
		pulse 4s ease-out infinite alternate-reverse;
}

@-webkit-keyframes grow {
    0%{transform: scale(1.0);}
    100% {transform: scale(1.1);}
}

@-webkit-keyframes pulse {
    0%{background: #fff;}
    50% {background: $black-op90;}
    100%{background: $black;}
    
}

.btn-mini-ghost{
	font-weight:200;padding:4px;border:1px solid #efefef;border-radius:4px;  margin-bottom: .5rem; display: inline-block;
	.ss-icon{
		font-weight:700;
	}
}

.btn-submit-ghost-off{
	width: 100%;
    margin: 0;
    background: $highlight-turq;
    color:$gray-dark-turq;
    opacity: 0.2;
}
.btn-submit-ghost-off.active{
	// width: 100%;
 //    margin: 0;
 //    background: $highlight-turq;
 //    color:$gray-dark-turq;
    opacity: 1;
}

.ss-icon{
	margin-right:4px;
	position:relative;
	top:2px;
}


//modal
.reveal-modal {
	// position: fixed;
	// top:1px;

}

a.close-reveal-modal{
	font-size: 1rem;
	cursor:pointer;
    float:right;
    margin-top: 1rem;
    border:1px solid $gray-mellow-purp-light;
    border-radius: 100px;
    padding:2px 16px;
}

a.close-reveal-modal .ss-icon{
	margin-right:0 !important;
}


a.close-reveal-modal:hover{
	cursor:pointer;
    border:1px solid $gray-mellow-purp;
}

$reveal-position-top: 10px;

$reveal-overlay-bg: rgba($black, .15);
$reveal-overlay-bg-old: $black;


.modal-folio-content{
	h2{
		font-size:3rem;
		font-weight:200;
		width:100%;
		// border-bottom:1px solid $gray-med-med;
		// margin-bottom: 1rem;
		margin-bottom:0;
	}
	dt{
		width:100%;
		border-bottom:1px solid $gray-light;
		
	}
	dt:not:first-child{
		margin-top:1rem;
	}
}

.folio-slider{
	list-style: none !important;
	img{
		padding:10px;
		border:1px solid $gray-light;
	}
	.caption{
		// text-transform:uppercase;
		font-size:.7rem;
		// font-weight:200;
		color:$gray-med;
		margin-top:0.5rem;
	}
}

.slider-nav li{
	margin:10px;
	transition:all .3s ease-out;
	border:3px solid $gray-med;
	// border-radius:2px;
	padding:6px;
	overflow:hidden;
	img{
		// border:1px solid $gray-dark;
		// border-radius:10px;
		width:auto;
		height:80px;
		max-height:80px;
		text-align:center;
		margin:auto;
	}
	
	:hover{
		// -webkit-animation: 
		// grow .3s cubic-bezier(0.855, 0.120, 0.340, 0.850) 1,
		// pulse 4s ease-out infinite alternate-reverse;
		// border-color:$highlight-green;
		// transform: scale(1.1);
		// cursor:pointer;
	}
	
}

.slider-nav li:hover{
		-webkit-animation: 
		grow .3s cubic-bezier(0.855, 0.120, 0.340, 0.850) 1,
		pulse 4s ease-out infinite alternate-reverse;
		border-color:$highlight-green;
		transform: scale(1.1);
		cursor:pointer;
	}



ul.skills{
	margin:0;
	padding:0;
	float:left;
	margin-bottom: 0.3rem;
}

.skills li{
	float:left;
	border: 1px solid $gray-med-med;
	border-radius: 4px;
	margin: 2px;
	padding: 4px 8px;
	font-size: .7rem;
	list-style: none;
}

dl dt{
	clear:both;
}

dd{
	float:left;
	margin-bottom:1rem;
	margin-top:.5rem;
}

//parallax
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}



//forms

.contact-form{
	textarea, input{
		background-color: rgba(255, 255, 255, 0.6);
		box-shadow:none;
		border-color: rgba(255, 255, 255, 0.6);
	}

}

.successMessage{
	text-align:center;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px; 
  box-sizing: border-box; 
  // {
  // 	.box-sizing(border-box); 
  // }      
  
}


::-webkit-input-placeholder {
   color: $gray-med-med;
}
:-moz-placeholder { /* Firefox 18- */
   color: $gray-med-med;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $gray-med-med;  
}
:-ms-input-placeholder {  
   color: $gray-med-med;  
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fade-in.two {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.three {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fade-in.four {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

.fade-in.five {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.fade-in.six {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

.fade-in.seven {
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

.fade-in.eight {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  animation-delay: 2.7s;
}

.fade-in.nine {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}



//footer
footer{
	border-top: 1px solid $highlight-turq;
	border-bottom: 1px solid $highlight-turq;
	font-weight:200;
	padding-top:20px;
	color:$gray-light;
	background:$gray-dark;
	h6{
	color:$gray-light;
	font-weight:200;
	text-transform:uppercase;
	border-bottom:1px solid $gray-subtle;
	width:100%;
	padding-bottom:5px;
	margin-bottom:5px;
	}
	p{
		font-weight:200;
		color: #efefef;
	}

	ul{
		margin:0;
		padding:0;
	}
	ul li{
		list-style-type: none;
	}

	a{
		color:$highlight-turq;
	}
	a:hover{
		color:$highlight-green;
	}
	.ss-icon{
		position: relative;
		top: 3px;
	}
	.small.caps{
		color:$gray-med-med;
	}
	.site-nav{
		.ss-icon{
			margin-right:4px;
			top:2px;
		}
	}
	.colophon{
		p{
			margin-bottom:0;
			font-size:.8rem;
		}
		ul{
			margin-left:0;
			padding-left:0;
		}
		ul li{
			// margin-left:1rem;
			font-size:.8rem;
		}
		.col-md-3, .col-md-4{
			padding-left:0;
		}
	}
	.copyline{
		margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid $gray-subtle;
    padding-top: 2rem;
	}
}



@import "responsive-jk";
